<?xml version="1.0" encoding="utf-8"?>
<configuration>

<system.webServer>
  <security>
    <requestFiltering>
      <fileExtensions>
        <add fileExtension=".json" allowed="true" />
		<add fileExtension=".png" allowed="true" />
		<add fileExtension=".jpg" allowed="true" />
		<add fileExtension=".mp3" allowed="true" />
        <add fileExtension=".woff2" allowed="true" />
      </fileExtensions>
    </requestFiltering>
  </security>
  <staticContent>
    <remove fileExtension=".woff2" />
    <mimeMap fileExtension=".woff2" mimeType="application/json" />
    <remove fileExtension=".json" />
    <mimeMap fileExtension=".json" mimeType="application/json" />
	<remove fileExtension=".png" />
    <mimeMap fileExtension=".png" mimeType="image/png" />
	<remove fileExtension=".jpg" />
    <mimeMap fileExtension=".jpg" mimeType="image/jpg" />
	<remove fileExtension=".mp3" />
    <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
  </staticContent>
    <rewrite>
      <rules>
        <rule name="AngularJS Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="./" />
        </rule>
      </rules>
  </rewrite>
</system.webServer>

</configuration>