#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
    display: inline-block;
    border-radius: 20px;
    background: darkblue;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
    display: inline-block;
    border-radius: 50px;
}

.golden-border {
	border: 5px solid goldenrod;
}

.red-border {
	border: 5px solid crimson;
}