<audio #themeAudio autoplay id="theme_audio" loop>
    <source src="./assets/sounds/main_theme.mp3" type="audio/mpeg">
</audio>
<app-navigation class="p-5"></app-navigation>
<div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner rounded" style="border: red 3px solid;">
        <div class="carousel-inner" style="border: goldenrod 3px solid;">
            <div class="carousel-item active p-3">
                <h1>LifeLines</h1>
                <ul class="list-group p-2">
                    <li class="list-group-item d-flex align-items-center">
                        <img src="./assets/images/switch-the-question.png" alt="switch-the-question"
                            class="image-size">&nbsp;&nbsp;
                        <h5 class="align-left font-italic">This lifeline is known as Flip/Switch the Question. If a
                            player chooses to mark/use this lifeline,
                            he/she will be presented with a new question. Having said that, player still needs to answer
                            the
                            current question, the outcome of which (right or wrong) will not impact the game.</h5>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <img src="./assets/images/ask-the-audience.png" alt="switch-the-question"
                            class="image-size">&nbsp;&nbsp;
                        <h5 class="text-left font-italic">This lifeline is known as Ask the Audience. If a player
                            chooses to mark/use this lifeline,
                            he/she will be presented with a system generated projection (graph) of the opinion of
                            imaginary audience.</h5>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <h5 class="align-left font-italic"><img src="./assets/images/fifty-fifty.png"
                                alt="switch-the-question" class="image-size">&nbsp;&nbsp;
                            This lifeline needs no explanation. If you are not aware of this lifeline, chances are that
                            you might be living
                            under a rock. Get a life!</h5>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <h5 class="align-left font-italic"><img src="./assets/images/double-chance.png"
                                alt="switch-the-question" class="image-size">&nbsp;&nbsp;
                            This lifeline is known as Double chance. If a player chooses to mark/use this lifeline,
                            he/she will have the opportunity to make two guesses in case the first guess is wrong.</h5>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <h5 class="align-left font-italic"><img src="./assets/images/extra-time.png"
                                alt="switch-the-question" class="image-size">&nbsp;&nbsp;
                            This lifeline is known as Extra Time.If a player chooses to mark/use this lifeline, the
                            timer will be incremented by 30
                            extra seconds.</h5>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <h5 class="align-left font-italic"><img src="./assets/images/ask-the-expert.png"
                                alt="switch-the-question" class="image-size">&nbsp;&nbsp;
                            This lifeline is known as Ask the Expert. If a player chooses to mark/use this lifeline, the
                            system will do a
                            google search of the question. The timer will not stop on marking this lifeline.</h5>
                    </li>
                </ul>
            </div>
            <div class="carousel-item p-3">
                <h1>Timing & others!</h1>
                <ul class="list-group p-2">
                    <li class="list-group-item d-flex align-items-center">
                        <i class="fas fa-stopwatch fa-3x p-2"></i>
                        <h5 class="align-left font-italic">Each Question will be timed. A running timer of 45 seconds is
                            shown while
                            the player plays the game. If a player fails to register an answer within the allotted time,
                            the game will
                            be reset automatically.
                        </h5>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <i class="fas fa-user-shield fa-3x p-2"></i>
                        <h5 class="align-left font-italic">There are three Padaav (safe zones) in the game, which occurs at 80,000 , 12,50,000
                            and 1 Crore (10 million). Clearing these safe zones guarantees the prize money (imaginary and not real).</h5>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <i class="fas fa-heartbeat fa-3x p-2"></i>
                        <h5 class="align-left font-italic">All the lifelines are single use. Once a lifeline has been
                            marked, can not
                            be undone. Therefore, it is advisable to be very judicious while using a lifeline. You
                            probably are aware
                            of this but I needed to make it official.
                        </h5>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <i class="fas fa-clipboard-check fa-3x p-2"></i>
                        <h5 class="align-left font-italic">The questions currently come from a configuration file.
                            However, there are plans
                            to integrate a backend or get the question from some other method.
                        </h5>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <i class="fas fa-question fa-3x p-2"></i>
                        <h5 class="align-left font-italic">If you would like to feed your own questions and play with
                            your friends,
                            please navigate to Upload Questions screen. The Upload Questions screen has option for
                            either using the
                            system user interface to upload questions or you can upload the json file itself.
                        </h5>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <i class="fas fa-first-aid fa-3x p-2"></i>
                        <h5 class="align-left font-italic">For any other emergency either rush to a hospital or contact
                            cops.
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>